.imgSize {
    height: 175px;
    width: 339px;
} 

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 120px;
}


.centered {
    text-align: center;
}

.padding {
    padding-left: 5px;
    padding-right: 5px;
}